name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  create-release:
    name: Build and Create Tagged Release
    runs-on: ubuntu-latest
    steps:
      - name: Install archive tools
        run: sudo apt install zip

      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}

      - name: Format code with Prettier
        run: |
          npm install -g prettier
          npx prettier --write "**/*.{js,json,md}"

      - name: Format Lua with StyLua
        uses: JohnnyMorganz/stylua-action@v3
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: .

      - name: Bump manifest version
        run: node .github/actions/bump-manifest-version.js
        env:
          TGT_RELEASE_VERSION: ${{ github.ref_name }}

      - name: Push manifest change
        uses: EndBug/add-and-commit@v8
        with:
          add: fxmanifest.lua
          push: true
          author_name: Manifest Bumper
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'chore: bump manifest version to ${{ github.ref_name }}'

      - name: Update tag ref
        uses: EndBug/latest-tag@latest
        with:
          tag-name: ${{ github.ref_name }}

      - name: Bundle files
        run: |
          ls
          mkdir -p ./temp/RESOURCE_NAME
          cp LICENSE.md README.md fxmanifest.lua ./temp/RESOURCE_NAME/ || true
          cp -r ./{bridge,client,shared,server,config,data,modules,locales,docs,web} ./temp/RESOURCE_NAME
          cd ./temp && zip -r ../RESOURCE_NAME.zip ./RESOURCE_NAME

      - name: Create Release
        uses: 'marvinpinto/action-automatic-releases@v1.2.1'
        id: auto_release
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          title: ${{ github.ref_name }}
          prerelease: false
          files: RESOURCE_NAME.zip
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
